page-search {

 #map{
    height: 30%;
    width: 100%;
 }
 .mybtn{
   height: 3rem;

   font-size: 1.3rem !important;
   background-color: aliceblue !important;
   border: none !important;
    color: black; top:2rem; width:30%;left:2%;border:solid 1px;
 }
}
